/Armstrong Number.py
/basic.py
/bubble.py
/Calculator.py
/Class program 1.py
/contours.py
/Coursera_Deep_Learning
/crop_yield.csv
/crop_yield_1.numbers
/crowd_ai_model.pkl
/data.py
/detect,py
/detect,py.py
/detect,py.txt
/detect.py
/Dict.py
/draw.py
/Factorial.py
/final.py
/final2.py
/final3.py
/final4.py
/final6.py
/image.py
/intersection.py
/Length.py
/linear regression.py
/ML_2(2).ipynb
/motion.py
/ok.py
/Pattern 1.py
/Pattern 3.py
/pattern2.py
/PreProcessing.py
/Prime Composite.py
/Python 1.py
/Python Certificate_files
/Random_Forest2.ipynb
/regression.py
/resize.py
/Reverse.py
/runs
/site.py
/site1.py
/sleep.py
/sound.py
/streamlit_test.py
/Sum.py
/test.py
/test2.py
/test2.txt
/test3.py
/Time.py
/transformation.py
/Tree.py
/try.py
/video.py
/yolov8n.pt